name: STM32 Driver Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install ARM Toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-arm-none-eabi

      - name: Compile GPIO and SPI Drivers
        run: |
          arm-none-eabi-gcc -c -mcpu=cortex-m4 -mthumb \
          -I inc \
          src/stm32f411_gpio_driver.c \
          src/stm32f411x_spi_driver.c
